<ion-header no-border>
</ion-header>

<ion-content>
  <div class="d-flex flex-column justify-content-center h-100 align-items-center text-center px-4">
    <ion-avatar class="border shadow-sm mb-4" style="height: 80px !important; width: 80px !important;">
      <img src="../assets/icons/icon-128x128.png">
    </ion-avatar>
    <h2 class="mt-4">Check your Email! 📧</h2>
    <p class="mb-4 p-0">We've sent you a code to confirm your account before we reset your password.</p>
    <div class="w-100">
      <form [formGroup]="verificationCodeForm" >
        <ion-card class="brainstorm-card">
          <ion-card-content>
            <ion-item>
              <ion-input name="code" formControlName="code" type="number" placeholder="Verification Code"></ion-input>
              <small><ion-text id="formErrors" color="danger"></ion-text></small>
            </ion-item>
            <ion-item>
              <ion-input name="newPassword" formControlName="newPassword" type="password" placeholder="New Password"></ion-input>
              <small><ion-text id="formErrors" color="danger"></ion-text></small>
            </ion-item>
            <div *ngIf="submitted && f.newPassword.errors" class="text-danger">
              <div *ngIf="f.newPassword.errors.required">Password is required</div>
              <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <ion-item>
              <ion-input name="confirmNewPassword" formControlName="confirmNewPassword" type="password" placeholder="Confirm New Password" [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }"></ion-input>
              <small><ion-text id="formErrors" color="danger"></ion-text></small>
            </ion-item>
            <div *ngIf="submitted && f.confirmNewPassword.errors" class="text-danger">
              <div *ngIf="f.confirmNewPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="f.confirmNewPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-item class="mt-4" lines="none">
          <ion-button fill="clear" [routerLink]="['/login']" slot="start">Back <ion-icon slot="start" name="arrow-back"></ion-icon></ion-button>
          <ion-button fill="clear" (click)="confirmVerificationCode()" slot="end">Reset Password <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-item>
      </form>
    </div>
  </div>
</ion-content>