<ion-header no-border>
  <ion-toolbar class="page-header">
    <ion-item lines="none" class="title-item mt-4" ion-no-padding>
      <h2>
        <span class="float-left mr-2">
          <ion-avatar style="height: 30px; width: 30px;">
            <img src="../../assets/icons/icon-128x128.png"/>
          </ion-avatar>
        </span>
        {{payload.title}}
      </h2>
      <ion-chip outline color="dark" (click)="dismiss()" slot="end" class="mr-0">
        <ion-label>Close</ion-label>
      </ion-chip>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-4 mt-4">
    <ion-note>{{payload.description}}</ion-note><br/>
    <ion-note>Tap on an element below to add it to your list!</ion-note>
    
    <h6 class="mt-4">{{payload.list_prompt}}</h6>
    <ion-card *ngFor="let sign of payload.items" class="brainstorm-card mx-0" (click)="presentAlertConfirm(sign)">
      <ion-card-header class="card-header-border">
        <ion-text class="display-medium card-header-title" color="primary">{{sign.title}}</ion-text>
      </ion-card-header>
      <ion-card-content>
        <p>{{sign.description}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
