<div class="d-flex flex-column justify-content-center align-items-center text-center mx-4 px-4 h-100">
  <ion-avatar class="border shadow-sm mb-4" style="height: 80px !important; width: 80px !important;">
    <img src="../assets/icons/icon-128x128.png">
  </ion-avatar>
  <h2 class="m-0 text-white">Check your Email! 📧</h2>
  <div class="w-25 text-white"><hr class="border-white"/></div>
  <p class="mb-4 text-white d-none d-md-block">We've sent you a code to confirm your account before we reset your password.</p>

  <form class="w-100" [formGroup]="verificationCodeForm" >
    <ion-item class="rounded-top">
      <ion-input name="code" formControlName="code" type="number" placeholder="Verification Code"></ion-input>
      <small><ion-text id="formErrors" color="danger"></ion-text></small>
    </ion-item>
    <ion-item>
      <ion-input name="newPassword" formControlName="newPassword" type="password" placeholder="New Password"></ion-input>
      <small><ion-text id="formErrors" color="danger"></ion-text></small>
    </ion-item>
    <div *ngIf="submitted && f.newPassword.errors" class="text-danger">
      <div *ngIf="f.newPassword.errors.required">Password is required</div>
      <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
    </div>
    <ion-item class="rounded-bottom">
      <ion-input name="confirmNewPassword" formControlName="confirmNewPassword" type="password" placeholder="Confirm New Password" [ngClass]="{ 'is-invalid': submitted && f.confirmNewPassword.errors }"></ion-input>
      <small><ion-text id="formErrors" color="danger"></ion-text></small>
    </ion-item>
    <div *ngIf="submitted && f.confirmNewPassword.errors" class="text-danger">
      <div *ngIf="f.confirmNewPassword.errors.required">Confirm Password is required</div>
      <div *ngIf="f.confirmNewPassword.errors.mustMatch">Passwords must match</div>
    </div>
    <ion-button class="mt-4" color="primary" (click)="confirmVerificationCode()" expand="block">Reset Password</ion-button>
  </form>
  <div class="d-flex flex-row w-100 justify-content-start mt-2">
    <a class="btn text-white" [routerLink]="['/']"><ion-icon name="arrow-back"></ion-icon> Back</a>
  </div>
</div>