<div class="mx-2 d-flex justify-content-between">
  <div class="d-flex flex-row">
    <ion-chip outline color="primary" class="py-1" (click)="triggerReorder()">
      <ion-label #reorderLabel>Reorder</ion-label>
    </ion-chip>
    <div *ngIf="!adding">
      <ion-chip outline color="primary" (click)="triggerAdding()">
        <ion-label>Add {{addBtnText}}</ion-label>
      </ion-chip>
    </div>
  </div>
  <app-empty-state-button [userID]="userId" [payload]="payload"></app-empty-state-button>
</div>