<ion-header no-border>
</ion-header>

<ion-content>
  <div class="d-flex flex-column justify-content-center h-100 align-items-center text-center px-4" style="background-color: var(--ion-color-warning);">
    <ion-avatar class="border shadow-sm mb-4" style="height: 100px !important; width: 100px !important;">
      <img src="../assets/icons/icon-128x128.png">
    </ion-avatar>
    <h2 class="mt-4 text-white">Welcome to Cove 🏝</h2>
    <p class="mb-4 p-0 text-white">For your safety, it is recommended that you complete your safety plan with someone supportive or a healthcare practitioner while you are not in a crisis.</p>
    <div class="row w-100 mt-4">
      <div class="col-6 p-1">
        <ion-button class="w-100" color="primary" [routerLink]="['/login']" routerDirection="forward" slot="start">Login</ion-button>
      </div>
      <div class="col-6 p-1">
        <ion-button class="w-100" color="light" [routerLink]="['/register']" routerDirection="forward" slot="end">Register</ion-button>
      </div>
    </div>
  </div>
</ion-content>