<ion-header no-border>
  <ion-toolbar class="page-header">
    <ion-item lines="none" class="title-item" class="ion-no-padding">
      <ion-back-button defaultHref="tabs/safety-plan" slot="start" class="ion-no-margin"></ion-back-button>
      <ion-label class="page-title" style="margin-top: 10px;">Places To Go</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div class="mx-3 d-flex justify-content-between">
    <div></div>
    <div *ngIf="adding">
      <div></div>
    </div>
    <div *ngIf="!adding">
      <ion-chip outline color="primary" (click)="displayForm()">
        <ion-icon name="add"></ion-icon>
        <ion-label>Safe Place</ion-label>
      </ion-chip>
    </div>
    <div *ngIf="user$ | async as user">
      <app-empty-state-button [userID]="user.id" [payload]="payload"></app-empty-state-button>
    </div>
  </div>
  <div *ngIf="adding">
    <ion-card class="brainstorm-card m-1">
      <form [formGroup]="PTGForm" (ngSubmit)="create()">
        <ion-card-header class="card-header-border">
          <ion-item lines="none" class="ion-no-padding">
            <ion-input class="display-medium card-header-title" color="primary" placeholder="Title" name="title" formControlName="title"></ion-input>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-textarea 
            autoGrow="true"
            class="body ion-no-padding" 
            placeholder="Description"
            name="description"
            formControlName="description"
            clearInput></ion-textarea>
          <ion-item class="ion-no-padding" style="vertical-align: middle;" lines="none">
            <ion-label class="ion-no-padding ion-no-margin"><h2>Address</h2></ion-label>
            <ion-label position="stacked"><p>Street</p></ion-label>
            <ion-input formControlName="street" name="street" class="body ion-no-padding" style="margin-top: 0px !important;" placeholder="Street"></ion-input>
            <ion-label position="stacked"><p>City</p></ion-label>
            <ion-input formControlName="city" name="city" class="body ion-no-padding" style="margin-top: 0px !important;" placeholder="City"></ion-input>
            <ion-label position="stacked"><p>Postal Code</p></ion-label>
            <ion-input formControlName="postalCode" name="postalCode" class="body ion-no-padding" style="margin-top: 0px !important;" placeholder="Postal Code"></ion-input>
            <ion-label position="stacked"><p>Province</p></ion-label>
            <ion-input formControlName="province" name="province" class="body ion-no-padding" style="margin-top: 0px !important;" readonly="Province"></ion-input>
            <ion-label position="stacked"><p>Country</p></ion-label>
            <ion-input formControlName="country" name="country" class="body ion-no-padding" style="margin-top: 0px !important;" readonly></ion-input>
          </ion-item>
          <ion-button color="light" (click)="reset()" style="margin: 10px;">Cancel</ion-button>
          <ion-button color="primary" type="submit" style="float: right; margin: 10px;">Save</ion-button>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
  <ion-card *ngFor="let place of places; let i = index" class="brainstorm-card" [ngClass]="{'mt-1': i === 0}">
    <app-place [place]="place"></app-place>
  </ion-card>
</ion-content>
