<ion-header no-border>
  <ion-toolbar class="page-header">
    <ion-item lines="none" class="title-item" class="ion-no-padding">
      <ion-back-button defaultHref="tabs/safety-plan" slot="start" class="ion-no-margin"></ion-back-button>
      <ion-label class="page-title" style="margin-top: 10px;">Places To Go</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div class="mx-3 d-flex justify-content-between">
    <ion-chip outline color="primary" (click)="toggleReorderGroup()">
      <ion-label><ion-icon name="reorder"></ion-icon></ion-label>
    </ion-chip>
    <div *ngIf="!adding">
      <ion-chip outline color="primary" (click)="displayForm()">
        <ion-icon name="add"></ion-icon>
        <ion-label>Safe Place</ion-label>
      </ion-chip>
    </div>
    <div *ngIf="user$ | async as user">
      <app-empty-state-button [userID]="user.id" [payload]="payload"></app-empty-state-button>
    </div>
  </div>
  <div *ngIf="adding">
    <ion-card class="brainstorm-card m-1">
      <form [formGroup]="PTGForm" (ngSubmit)="create()">
        <ion-card-header class="card-header-border">
          <ion-item lines="none" class="ion-no-padding">
            <ion-input class="display-medium card-header-title" color="primary" placeholder="Title" name="title" formControlName="title"></ion-input>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-textarea 
            autoGrow="true"
            class="body ion-no-padding" 
            placeholder="Description"
            name="description"
            formControlName="description"
            clearInput></ion-textarea>
          <app-google-maps-search-bar (addressChanged)="updateAddress($event)"></app-google-maps-search-bar>
          <ion-button color="light" (click)="reset()" style="margin: 10px;">Cancel</ion-button>
          <ion-button color="primary" type="submit" style="float: right; margin: 10px;">Save</ion-button>
        </ion-card-content>
      </form>
    </ion-card>
  </div>
  <ng-template [ngIf]="reordering" [ngIfElse]="showBlock">
    <ion-list>
      <ion-reorder-group id="reorder" (ionItemReorder)="doReorder($event)" disabled="false">
        <ion-item *ngFor="let place of places" class="reorder-item" id="{{place.id}}">
          <ion-label>{{place.title}}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
  </ng-template>
  <ng-template #showBlock>
    <app-place *ngFor="let place of places" [place]="place"></app-place>
  </ng-template>
</ion-content>
