<ion-header no-border>
  <ion-toolbar class="page-header">
    <ion-item lines="none" class="title-item" ion-no-padding>
      <h2>
        <span class="float-left mr-2">
          <ion-avatar style="height: 30px; width: 30px;">
            <img src="../../assets/icons/icon-128x128.png"/>
          </ion-avatar>
        </span>
        Warning Signs
      </h2>
      <ion-chip outline color="dark" (click)="dismiss()" slot="end" class="mr-0">
        <ion-label>x</ion-label>
      </ion-chip>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-4 mt-4">
    <ion-note>Identifying signs that you may be experiencing a suicidal crisis can help you and others around you recognize when a crisis may occur.</ion-note>
    
    <h6 class="mt-4">Here are some common warning signs you can use in your safety plan:</h6>
    <ion-card *ngFor="let sign of commonWarningSigns; index as i" class="brainstorm-card mx-0" (click)="addToList(i)">
      <ion-card-header class="card-header-border">
        <ion-text class="display-medium card-header-title" color="primary">{{sign.title}}</ion-text>
      </ion-card-header>
      <ion-card-content>
        <p>{{sign.description}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
