<ion-header no-border>
  <div class="mx-4 py-3 d-flex justify-content-end text-muted">
    <a class="h4 mr-3" href="sms:/&body='Hey there, have you heard of tryconve.ca?'"><ion-icon name="share"></ion-icon></a>
    <span class="h4" (click)="settings()"><ion-icon name="settings"></ion-icon></span>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="user$ | async as user">
    <div class="row m-4 mb-0">
      <div class="col-3">
        <ion-avatar slot="start">
          <img src="../../../assets/avatars/img_avatar2.png"/>
        </ion-avatar>
      </div>
      <div class="col-9 text-left">
          <h3 class="mb-0">{{user.name}}</h3>
          <small class="text-muted mb-0">{{user.email}}</small>
      </div>
    </div>
    <p class="mx-4 px-2 text-muted">
      <ng-template [ngIf]="user.bio.length > 0" [ngIfElse]="promptBio">
        {{user.bio}}
      </ng-template>
      <ng-template #promptBio>
        Add your bio in settings!
      </ng-template>
    </p>
  </div>
  <div class="row mx-4 mt-4 mb-0 align-items-center">
    <div class="col-6 p-0 text-center w-100 h-100">
      <div class="rounded m-1 p-2 bg-light text-dark d-flex flex-column mb-0">
        <h3 class="text-primary my-1">{{warningSignCount$ | async}}</h3>
        <span><small>Warning Signs</small></span>
      </div>
    </div>
    <div class="col-6 p-0 text-center w-100 h-100">
      <div class="rounded m-1 p-2 bg-light text-dark d-flex flex-column mb-0">
        <h3 class="text-primary my-1">{{copingStrategyCount$ | async}}</h3>
        <span><small>Coping Strategies</small></span>
      </div>
    </div>
  </div>
  <div class="row mx-4 mt-0 mb-4 align-items-center">
    <div class="col-6 p-0 text-center w-100 h-100">
      <div class="rounded m-1 p-2 bg-light text-dark d-flex flex-column mb-0">
        <h3 class="text-primary my-1">{{placesCount$ | async}}</h3>
        <span><small>Places To Go</small></span>
      </div>
    </div>
    <div class="col-6 p-0 text-center w-100 h-100">
      <div class="rounded m-1 p-2 bg-light text-dark d-flex flex-column mb-0">
        <h3 class="text-primary my-1">{{contactsCount$ | async}}</h3>
        <span><small>People To Call</small></span>
      </div>
    </div>
  </div>
  <ion-card class="brainstorm-card">
    <ion-card-content>
      <ion-list>
        <ion-item class="ion-no-padding other-items" *ngFor="let item of menu_items; let i = index" [ngClass]="{'first-item': i == 0, 'last-item': i == 3}" (click)="openWebsite()">
          <ion-grid>
            <ion-row style="width: 100%;">
              <ion-col size="2" style="text-align: center;">
                <div shape="round" class="sp-icon-div">
                  <ion-icon color="primary" name="{{item.icon}}"></ion-icon>
                </div>
              </ion-col>
              <ion-col size="10">
                  <h6 class="h6" style="padding-top: 5px;">{{item.title}}</h6>
                  <div *ngFor="let detail of item.details">
                    <ion-text class="caption subdued list-ws-item">{{detail}}</ion-text>
                  </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <div class="w-100 text-center">
    <span color="light" class="btn bg-transparent border-0 text-primary text-underline m-2" (click)="signOut()"><u>Sign Out</u></span>
  </div>
</ion-content>
