<img *ngIf="imageUrl$ | async" src="{{imageUrl$ | async}}"/>
<form [formGroup]="CSForm">
  <ion-card-header class="card-header-border">
    <div class="text-center">
      <a href="#" class="text-primary text-center w-100" (click)="openFileBrowser($event)" *ngIf="editing && strategy.id == elementId"><u>upload</u></a>
    </div>
    <input class="d-none" type="file" id="strategyCoverPhotoUpload-{{this.strategy.id}}" (change)="uploadFile($event)" accept='image/png'>
    <ion-item lines="none" class="ion-no-padding">
      <ng-template [ngIf]="editing && elementId==strategy.id" [ngIfElse]="showBlock">
        <ion-input name="title" formControlName="title" class="display-medium card-header-title" color="primary"></ion-input>
      </ng-template>
      <ng-template #showBlock>
        <ion-text class="display-medium card-header-title" color="primary">{{strategy.title}}</ion-text>
        <app-ellipsis [id]="strategy.id" [type]="'cs'" slot="end"></app-ellipsis>
      </ng-template>
    </ion-item>
  </ion-card-header>
  <ng-template [ngIf]="editing || strategy.description">
    <ion-card-content>
      <ng-template [ngIf]="editing && elementId==strategy.id" [ngIfElse]="showDetailsBlock">
        <ion-textarea name="description" formControlName="description" class="body ion-no-padding" autoGrow="true"></ion-textarea>
      </ng-template>
      <ng-template #showDetailsBlock>
        <p class="body">{{strategy.description}}</p>
      </ng-template>
      <ng-template [ngIf]="editing && elementId==strategy.id">
        <button color="light" class="btn bg-transparent border-0 text-primary text-underline float-left m-2" (click)="cancel()"><u>Cancel</u></button>
        <ion-button (click)="save()" color="primary" style="float: right; margin: 10px;">Save</ion-button>
      </ng-template>
    </ion-card-content>
  </ng-template>
</form>