<ng-template [ngIf]="editing && place.id == elementId" [ngIfElse]="showMap">
  <form [formGroup]="PTGForm" (ngSubmit)="save()">
    <ion-card class="brainstorm-card">
      <ion-card-content class="p-0">
        <div class="h-100 w-100 d-flex flex-row">
          <div class="w-25 align-self-center">
            <img src="../assets/images/edit.png" style="height: 35px; width: 35px;" class="m-auto">
          </div>
          <div class="align-self-center m-3 w-75">
              <ion-input class="display-medium card-header-title ion-no-padding" color="primary" value="{{place.title}}" name="title" formControlName="title"></ion-input>
              <ion-textarea 
                autoGrow="true"
                class="body ion-no-padding ion-no-margin" 
                value="{{place.description}}"
                name="description"
                formControlName="description"
                clearInput></ion-textarea>
            <app-google-maps-search-bar [current_address]="place.address.street + ', ' + place.address.city" (addressChanged)="updateAddress($event)"></app-google-maps-search-bar>
          </div>
        </div>
        <ion-button color="light" (click)="cancel()" style="margin: 10px;">Cancel</ion-button>
        <ion-button color="primary" type="submit" style="float: right; margin: 10px;">Save</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ng-template>
<ng-template #showMap>
  <ion-card class="brainstorm-card" (click)="launchActionSheet()">
    <ion-card-content class="p-0">
      <div class="h-100 w-100 d-flex flex-row">
        <div class="w-25 h-100">
          <div *ngIf="(mapsURL$ | async) as mapsURL; else showQuestionMark">
            <img src="{{mapsURL}}" height="100%" width="auto"/>
          </div>
          <ng-template #showQuestionMark>
            <img src="../assets/images/edit.png" style="height: 35px; width: 35px;" class="m-auto">
          </ng-template>
        </div>
        <div class="align-self-center m-3 w-75">
          <ion-text class="display-medium card-header-title" color="primary">{{place.title}}</ion-text>
          <p>{{place.description}}</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ng-template>
